select {
        border-radius: 5px;
        height: 29px;
        border: none;
        box-shadow: inset  0px -3px 9px 4px #807d7d;
        width: 140px;
        color: grey;
        font-weight: bold;
        padding-left: 3px;
}

.dob-div {
    display: flex;
    flex-direction: row;
    display: flex;
    width: 70px;
}

#dob {
    padding-top: 5px;
  }

  .date-input{
      width: 50px;
      margin-right: 11px;
  }


  /* can't seem to change the width of the 'number' input
  } */