* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;


   
  }
  
  
  .accordion {
    max-width: 600px;
    margin: 1em auto;
    border-radius: 25px;
    border-color: black;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: orange;
  }
  
  .accordion-title:hover {
    background-color: darkgoldenrod;
  }
  

  .accordion-content {
    background-color: lightgray;
  }
  
  
  