.accordion-item{
    background-color: #dedede;
    transition: 0.3s;
    border-radius: 15px;
  }

  .accordion-item:not(:last-child){
    margin-bottom: 5px;
  }



  br {
    line-height: 30%;
 }

  .step-three-form{
    margin-bottom: 0;
  }

  .accordion-title {
    background-image: linear-gradient(#ffc404, #f1a410);
    border-radius: 15px;
    height: 60px;
    text-align: left;
    vertical-align: middle;
    line-height: 60px;
    position: relative;    
  }

  .accordion-text {
    padding-left: 20px;
    color: #ffffff;    
    text-shadow: 2px 2px 2px #958746;
  }

  .accordion-content {
    background-color: #dedede;
    border-radius: 15px;
  }