.App {
  width: 700px;
   /* This is not dynamic and will cause a problem collapsing since it's fixed*/
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
 
  position: absolute;
  top:100px;

  left: 0;
  right: 0;
  
  margin: auto;
  overflow: hidden;
}
